:root {
    --background-color-1: #ffffff;
}

body {
    cursor: url('../images/cursor.webp'), auto;
    background-color: var(--background-color-1);
    /* padding-top: 0.5px; */
    overflow: hidden;
    background-image: url(../images/scraps/collagebackdrop.png);
    background-size: cover; /* Optional: to make the image cover the entire body */
    background-repeat: repeat; /* Optional: to prevent image repetition */
}

.home-scrapbook {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    /* Auto-adjust row height */
    gap: 10px;
    /* Space between grid items */
    padding: 20px;
    max-width: 85%;
    /* Optional max width for the scrapbook */
    margin: 0 auto;
    transition: 0.5s;
}

.home-scrapbook img {
    transition: 0.5s;
}

.home-scrapbook img:hover {
    transform: scaleX(0.9);
    transition: 0.5s;
}

.home-scrapbook>div {
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-scrapbook>div:nth-child(even) {
    grid-row: span 2;
}

.home-scrapbook>div:nth-child(3n) {
    grid-column: span 1.25;
}

.home-scrapbook>div {
    transform: rotate(calc(var(--random-rotation, 0) * 1deg));
}

.home-scrapbook>div:nth-child(1) {
    --random-rotation: 2;
}

.home-scrapbook>div:nth-child(2) {
    --random-rotation: -3;
}

.home-scrapbook>div:nth-child(3) {
    --random-rotation: 1;
}

.home-scrapbook>div:nth-child(4) {
    --random-rotation: -2;
}

.home-scrapbook>div:nth-child(5) {
    --random-rotation: 4;
}

.home-scrapbook>div:nth-child(6) {
    --random-rotation: -1;
}

/*   */

#scrap-layer-1 {
    position: absolute;
    top: 5%;
    left: 22%;
}

.home-scrapbook {
    margin-top: 10px;
}

.scrapbook-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10000;
    margin-top: 9px;
    width: 100%;
    height: 100%;
}

.scrapbook-text {
    color: white;
    display: inline-block;
}
